<configuration>

	<connectionStrings>
		<add name="ShopDB.0" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.175;Initial Catalog=Sales;User ID=dbviewer;Password=dbviewer" />
		<add name="ShopDB.1" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=Shop.sdf" />
		<add name="ShopDB" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=192.168.4.31/orcl11g;User ID=dbviewer;Password=dbviewer" />
	</connectionStrings>

  	<system.data>
    		<DbProviderFactories>
      			<add name="OracleDataProvider" description="Oracle Data Provider" invariant="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.Client.OracleClientFactory,Oracle.ManagedDataAccess"/>
    		</DbProviderFactories>
  	</system.data>

</configuration>