<configuration>

	<system.webServer>

		<defaultDocument>
			<files>
				<add value="welcome.html" />
				<add value="index.html" />
			</files>
		</defaultDocument>

		<modules>
			<add name="Page" type="BasicWebApp.PageModule" />
		</modules>

		<handlers>
			<add name="Greeter" type="BasicWebApp.GreetingHandler" path="welcome.gwh" verb="GET" />
		</handlers>

	</system.webServer>

	<appSettings>
		<add key="Greeting:Salutation" value="Welcome" />
	</appSettings>

</configuration>